session_name: jg-W9
start_directory: /home/sy/jg/04.pintos/7team
suppress_history: false
windows:
  - window_name: document
    layout: 6e5e,213x59,0,0{168x59,0,0,7,44x59,169,0,8}
    focus: true
    panes:
      - shell_command: vi -c 'cd ~/Documents/dev-wiki | VimwikiIndex'
        focus: true
      - shell_command:
          - cd ../my-wiki
          - vi .

  - window_name: test_code
    panes:
      - shell_command:
          - tm.1_title 'editor'
          - vi tests/threads/tests.c
        focus: true

  - window_name: code
    panes:
      - shell_command:
          - tm.1_title 'editor'
          - vi .
        focus: true

  - window_name: run_test
    layout: 19b7,240x65,0,0{54x65,0,0[54x25,0,0,9,54x39,0,26,11],185x65,55,0[185x32,55,0{99x32,55,0,10,60x32,155,0,13,24x32,216,0,15},185x32,55,33{146x32,55,33,14,38x32,202,33,12}]}
    panes:
      - shell_command:
          - tm.1_title 'run pintos'
          - docker exec -it jg-c-w9 bash
          - cd /workspace/my_test
          - ./test_thread.sh
        focus: true
      - shell_command:
          - tm.1_title 'test_script'
          - vi my_test/test_thread.sh
      - shell_command:
          - tm.1_title 'result'
          - watch -n 1 'cat my_test/result'
      - shell_command:
          - tm.1_title 'output'
          - docker exec -it jg-c-w9 bash
          - watch -n 1 'cat my_test/output'
      - shell_command:
          - tm.1_title 'error'
          - watch -n 1 'cat my_test/error'
      - shell_command:
          - tm.1_title 'output buf'
          - vi my_test/output
      - shell_command:
          - tm.1_title 'pintos help'
          - docker exec -it jg-c-w9 bash
          - pintos -h

  - window_name: docker_build
    layout: 92cd,119x65,0,0{59x65,0,0[59x15,0,0,145,59x16,0,16,157,59x32,0,33,146],59x65,60,0[59x30,60,0{6x30,60,0,147,52x30,67,0,148},59x18,60,31,149,59x15,60,50,150]}
    panes:
      - shell_command:
          - tm.1_title 'auto make'
          - docker exec -it jg-c-w9 bash
          - cd /workspace/threads
          - watch -n 1 'make'
      - shell_command:
          - tm.1_title 'build for thread project'
          - docker exec -it jg-c-w9 bash
          - cd /workspace/threads
          - cmd: bear -- make && sed -i 's|/workspace|/home/sy/jg/04.pintos/7team|g' compile_commands.json && mv compile_commands.json /workspace/compile_commands.json
            enter: false
        focus: true
      - shell_command:
          - docker exec -it jg-c-w9 bash
          - htop
      - shell_command: vi config/Dockerfile
      - shell_command: lazydocker
      - shell_command:
          - tm.1_title 'build image'
          - cmd: docker build -t jg-c-w9 config/
            enter: false
      - shell_command:
          - tm.1_title 'run daemon container'
          - cmd: docker run -d --name jg-c-w9 -v "$(git-root)/:/workspace" --network=host jg-c-w9
            enter: false

  - window_name: config
    layout: even-horizontal
    panes:
      - shell_command: vi config/tmuxp.yaml

  - window_name: debug
    panes:
      - shell_command:
          - tm.1_title 'debugger'
          - cmd: "gdb"
            enter: false
